<% layout('layouts/boilerplate')%>
<div class="container mb-3 show" style="width: 180vh;">
    <div class="row">
        <div class="addMargin">
            <h1 class="text-center">Edit Cafe</h1>
        </div>
        <div class="col-md-6 offset-md-3">
            <form action="/cafes/<%=cafe._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="cafe[title]" value="<%=cafe.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="cafe[location]"
                        value="<%=cafe.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group custom-file">
                        <label class="form-label" for="image">Upload Images &nbsp</label>
                        <input type="file" class="form-control" name="image" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple>
                        <!-- <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button> -->
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Add Images</label>
                    <input type="file" name="image" id="image" multiple>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="seats">Seats</label>
                    <div class="input-group">
                        <!-- <span class="input-group-text" id="seats-label"></span> -->
                        <input type="text" class="form-control" id="seats" placeholder="0-5" aria-label="seats"
                            aria-describedby="seats-label" name="cafe[seats]" value="<%=cafe.seats %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
    
                <%if (cafe.has_sockets == true) { %> 
                <div class="mb-3">
                    <label >Has sockets: </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cafe[has_sockets]" id="socket_yes" value="true" checked required>
                        <label class="form-check-label" for="socket_yes">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cafe[has_sockets]" id="socket_no" value="false" required>
                        <label class="form-check-label" for="socket_no">No</label>
                      </div>
                </div>
                <% }else{ %>
                    <div class="mb-3">
                        <label >Has sockets: </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cafe[has_sockets]" id="socket_yes" value="true" required>
                            <label class="form-check-label" for="socket_yes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cafe[has_sockets]" id="socket_no" value="false" checked required>
                            <label class="form-check-label" for="socket_no">No</label>
                          </div>
                    </div>
                <% } %>
    
                <%if (cafe.has_wifi == true) { %> 
                <div class="mb-3">
                    <label >Has wifi:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cafe[has_wifi]" id="wifi_yes" value="true" checked required>
                        <label class="form-check-label" for="wifi_yes">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cafe[has_wifi]" id="wifi_no" value="false" required>
                        <label class="form-check-label" for="wifi_no">No</label>
                      </div>
                </div>
                <% }else{ %>
                    <div class="mb-3">
                        <label >Has wifi:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cafe[has_wifi]" id="wifi_yes" value="true" required>
                            <label class="form-check-label" for="wifi_yes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cafe[has_wifi]" id="wifi_no" value="false" checked required>
                            <label class="form-check-label" for="wifi_no">No</label>
                          </div>
                    </div>
                <% } %>
    
                <%if (cafe.has_toilet == true) { %> 
                <div class="mb-3">
                    <label >Has toilet:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cafe[has_toilet]" id="toilet_yes" value="true" checked required>
                        <label class="form-check-label" for="toilet_yes">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cafe[has_toilet]" id="toilet_no" value="false" required>
                        <label class="form-check-label" for="toilet_no">No</label>
                      </div>
                </div>
                <% }else{ %>
                    <div class="mb-3">
                        <label >Has toilet:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cafe[has_toilet]" id="toilet_yes" value="true" required>
                            <label class="form-check-label" for="toilet_yes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cafe[has_toilet]" id="toilet_no" value="false" checked required>
                            <label class="form-check-label" for="toilet_no">No</label>
                          </div>
                    </div>
                <% } %>
    
                <%if (cafe.can_take_calls == true) { %> 
                <div class="mb-3">
                    <label >Can take calls:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cafe[can_take_calls]" id="calls_yes" value="true" checked required>
                        <label class="form-check-label" for="calls_yes">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="cafe[can_take_calls]" id="calls_no" value="false" required>
                        <label class="form-check-label" for="calls_no">No</label>
                      </div>
                </div>
                <% }else{ %>
                    <div class="mb-3">
                        <label >Can take calls:</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cafe[can_take_calls]" id="calls_yes" value="true" required>
                            <label class="form-check-label" for="calls_yes">Yes</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cafe[can_take_calls]" id="calls_no" value="false" checked required>
                            <label class="form-check-label" for="calls_no">No</label>
                          </div>
                    </div>
                <% } %>
    
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" rows="5" type="text" id="description"
                        name="cafe[description]" required><%= cafe.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3 image">
                    <% cafe.images.forEach(function(img,i){ %>
                    <img src="<%=img.thumbnail%>" class="img-thumbnail">
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename %>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                    <% }) %>
                </div>
                <div class="mb-3 mt-5 update">
                    <button class="btn btn-primary">Update cafe</button> &nbsp
                    <a href="/cafes/<%= cafe._id%>"> Back To cafe</a>
                </div>
            </form>  
        </div>
    </div>    
</div>
