<% layout('layouts/boilerplate')%>

<link rel="stylesheet" href="\stylesheets\stars.css">
<link rel="stylesheet" href="\stylesheets\map.css">

<script>
    const mapToken = '<%-process.env.LOCATIONIQ_KEY%>';
    const cafes = '<%-JSON.stringify(cafes)%>';
</script>
<div class="container-fluid">
    <div id="mainMap"></div>
</div>
<div class="container-md">
    <div class="addMargin left">
        <h1>All Cafes</h1>
    </div>
</div>
<div class="container-md">
    <div >
        <a href="/cafes/new">Add Cafe</a>
    </div>
    <% for (let cafe of cafes){ %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4" style="padding: 0px;">
                <% if(cafe.images.length) {%>
                <img src="<%=cafe.images[0].url%>" alt="" class="img-fluid" style="height: 230px;width: 100%;">
                <% } else { %>
                    <img src="https://res.cloudinary.com/dffinqrxs/image/upload/v1704887882/CafeSearch/hl045efe2rpfno9vicuu.jpg" alt="" class="img-fluid" >
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= cafe.title %></h5>
                    <p class="card-text"><%= cafe.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= cafe.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/cafes/<%=cafe._id%>">View <%=cafe.title%></a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>


<script src="/javascripts/showAllCafes.js"></script>
